[submodule "third_party/triton"]
	path = third_party/triton
	url = https://github.com/openai/triton.git
[submodule "third_party/tvm"]
	path = third_party/tvm
	url = https://github.com/apache/tvm.git
[submodule "third_party/llvm-project"]
	path = third_party/llvm-project
	url = https://github.com/llvm/llvm-project.git
[submodule "third_party/xla"]
	path = third_party/xla
	url = https://github.com/openxla/xla.git
